---
import Layout from '../layouts/Layout.astro';
import Team from '../components/Team.astro';
import Head from '../components/Head.astro';
import AboutSection from '../components/About.astro';
import VideoCoop from '../components/VideoCoop.astro';

---

<Layout title="Sobre Nosotros | SmartCoop Oficial Website">

	<section id="Head_About" class="h-fit lg:h-fit w-full pt-28 lg:pb-12 bg-blueF text-WhiteF" style="background-image: url('Slides/header-banner.webp'); background-size:cover; background-position: center;">
		<Head title="Sobre Nosotros" />
	</section>
	<section id="OVERVIEW" class="h-fit w-full pb-10 pt-16 lg:pt-32 lg:px-40 bg-WhiteF text-blueF">
        <AboutSection />
    </section>
    <section id="VideoCoop" class="h-fit w-full bg-WhiteF text-blueF">
        <VideoCoop />
    </section>
    <section id="Team" class="h-fit w-full py-10 lg:py-16 lg:px-10 xl:px-32 bg-black text-WhiteF">
		<Team />
	</section>
    <hr>

</Layout>
