---
import Layout from '../layouts/Layout.astro';
import Head from '../components/Head.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="Contacto | SmartCoop Oficial Website">

	<section id="Head_About" class="h-fit lg:h-fit w-full pt-28 lg:pb-12 bg-blueF text-WhiteF" style="background-image: url('Slides/contact-header.webp'); background-size:cover; background-position: center;">
		<Head title="Contáctenos" />
	</section>
	<section id="Contacto" class="h-fit w-full bg-WhiteF text-blueF">
        <Contacto />
    </section>
    
</Layout>



<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log('DOM cargado');
      const form = document.getElementById('contactForm') as HTMLFormElement;
      form.addEventListener('submit', async (event) => {
        event.preventDefault();
  
        console.log('Formulario enviado'); // Para verificar que el evento se dispara
  
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
  
        try {
          const response = await fetch('/api/send-email', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          });
          const result = await response.json();
          alert(result.message);
        } catch (error) {
          console.error('Error al enviar el correo:', error); // Para ver errores en consola
          alert('Error al enviar el correo');
        }
      });
    });
    
   
  </script>