---
import Layout from '../layouts/Layout.astro';
import Head from '../components/Head.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="Contacto | SmartCoop Oficial Website">

	<section id="Head_About" class="h-fit lg:h-fit w-full pt-28 lg:pb-12 bg-blueF text-WhiteF" style="background-image: url('Slides/contact-header.webp'); background-size:cover; background-position: center;">
		<Head title="Contáctenos" />
	</section>
	<section id="Contacto" class="h-fit w-full bg-WhiteF text-blueF">
        <Contacto />
    </section>
    
</Layout>

