---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="SmartCoop Oficial site">
	<main class="h-[400vh]">
		<Header />
		<section id="Hero" class="h-screen w-full pt-32 md:p-48">
			<Hero />
		</section>
		
	</main>
</Layout>

