---
import Layout from "../layouts/Layout.astro";
import Privacy from "../components/Privacy.astro";
---

<Layout title="Política de Privacidad | SmartCoop Oficial Website">

    <section id="Privacy" class="h-fit w-full pt-32 px-10 pb-12 md:pt-40 md:px-20 lg:px-44 xl:px-60 bg-WhiteF text-blueF">
        <Privacy />
    </section>
	
    
</Layout>
