---

---

<div class="flex flex-col gap-12 lg:gap-32">
    <div class="flex flex-col lg:flex-row gap-8">
        <!-- COMPANY OVERVIEW -->
         <div class="w-full lg:w-1/2 text-center lg:text-start px-8 lg:pl-10">
            <p class="text-lg text-gray-400 ">A little about us</p>
            <h2 class="text-[28px] lg:text-4xl font-bold mb-6">COMPANY <b class="text-blue-900">OVERVIEW</b></h2>
            <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="mt-12 px-4 lg:px-0 text-base lg:text-xl flex flex-col gap-4">
                <li class="flex gap-4 items-center transform transition duration-300 hover:scale-105">
                    <i> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" stroke="#3c9e42" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 12l5.25 5l2.625-3M8 12l5.25 5L22 7m-6 0l-3.5 4"/>
                        </svg>
                    </i>
                    <span>Gestión integral de miembros, aportaciones y transacciones.</span>
                </li>
                <li class="flex gap-4 items-center transform transition duration-300 hover:scale-105">
                    <i> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" stroke="#3c9e42" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 12l5.25 5l2.625-3M8 12l5.25 5L22 7m-6 0l-3.5 4"/>
                        </svg>
                    </i>
                    <span>Automatización de procesos financieros y administrativos.</span>
                </li>
                <li class="flex gap-4 items-center transform transition duration-300 hover:scale-105">
                    <i> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" stroke="#3c9e42" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 12l5.25 5l2.625-3M8 12l5.25 5L22 7m-6 0l-3.5 4"/>
                        </svg>
                    </i>
                    <span>Seguridad y transparencia en cada operación.</span>
                </li>
                
            </ul>
         </div>
         <!-- Slides Carrousel Images -->
        <div class="w-full lg:w-1/2 relative overflow-hidden">
            <div class="carousel flex transition-transform duration-1000 ease-in-out">
                <img src="/Team/TeamWork.webp" class="w-full lg:h-[50vh] object-cover" alt="Team Work">
                <img src="/Team/Team.webp" class="w-full lg:h-[50vh] object-cover" alt="Team">
                <img src="/Team/MatuExp.webp" class="w-full lg:h-[50vh] object-cover" alt="Matu Exp">
            </div>
    
            <!-- Controladores del carrusel -->
            <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 flex space-x-2">
                <button class="carousel-btn w-3 h-3 bg-gray-300 rounded-full" data-slide="0"></button>
                <button class="carousel-btn w-3 h-3 bg-gray-300 rounded-full" data-slide="1"></button>
                <button class="carousel-btn w-3 h-3 bg-gray-300 rounded-full" data-slide="2"></button>
            </div>
        </div>
    </div>
    
    
    
    <div class="flex flex-col-reverse lg:gap-8 lg:flex-row px-5">
        <!-- Imagen Company -->
        <div class="w-full lg:w-1/2 relative overflow-hidden">
            <img src="/Team/ReviewApp.webp" class="w-full object-cover" alt="Team Work">
        </div>

        <!-- Timeline container -->
        <div class="w-full lg:w-2/3 relative pb-12 grid before:absolute before:left-4 lg:before:left-32 before:block before:h-[calc(100%-2rem)] before:border-l-2 before:border-gray-400 before:content-['']">
            <div class="pl-4 lg:pl-32 pb-10">
                <div class="relative pb-12 lg:pb-0">
                    <div class="sticky top-0">
                        <span class="text-blue-500 absolute -left-3 rounded-full text-6xl">&bull;</span>
                        <time class="text-sm text-white absolute left-10 lg:-left-24 top-2 bg-blue-500 py-[4px] px-3 lg:py-2 lg:px-4">2022</time>
                    </div>
                </div>

                <div class="relative flex flex-col gap-2 text-secondary px-10">
                    <h3 class="text-xl font-bold">Título del evento</h3>
                    <h4 class="font-semibold text-xl text-secondary-100">Subtítulo</h4>
                    <p>
                        Aquí va la descripción del evento. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>

            <div class="pl-4 lg:pl-32 pb-10">
                <div class="relative pb-12 lg:pb-0">
                    <div class="sticky top-0">
                        <span class="text-blue-500 absolute -left-3 rounded-full text-6xl">&bull;</span>
                        <time class="text-sm text-white absolute left-10 lg:-left-24 top-2 bg-blue-500 py-[4px] px-3 lg:py-2 lg:px-4">2023</time>
                    </div>
                </div>

                <div class="relative flex flex-col gap-2 text-secondary px-10">
                    <h3 class="text-xl font-bold">Título del evento</h3>
                    <h4 class="font-semibold text-xl text-secondary-100">Subtítulo</h4>
                    <p>
                        Aquí va la descripción del evento. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>

            <div class="pl-4 lg:pl-32 pb-10">
                <div class="relative pb-12 lg:pb-0">
                    <div class="sticky top-0">
                        <span class="text-blue-500 absolute -left-3 rounded-full text-6xl">&bull;</span>
                        <time class="text-sm text-white absolute left-10 lg:-left-24 top-2 bg-blue-500 py-[4px] px-3 lg:py-2 lg:px-4">2024</time>
                    </div>
                </div>

                <div class="relative flex flex-col gap-2 text-secondary px-10">
                    <h3 class="text-xl font-bold">Título del evento</h3>
                    <h4 class="font-semibold text-xl text-secondary-100">Subtítulo</h4>
                    <p>
                        Aquí va la descripción del evento. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>


    </div>
    

</div>

<style>
    .carousel {
  width: 300%;
}
.carousel img {
  width: 33.3333%;
}

.last-event::before {
        height: 0 !important;
    }

</style>


<script>
    let currentSlide = 0;
    const totalSlides = 3;
    const carousel = document.querySelector('.carousel') as HTMLElement;
    const buttons = document.querySelectorAll('.carousel-btn');
  
    // Función para mover a un slide específico
    function goToSlide(slide) {
      currentSlide = slide;
      carousel.style.transition = 'transform 1s ease-in-out';
      carousel.style.transform = `translateX(-${currentSlide * 100 / totalSlides}%)`;
      updateButtons();
    }
  
    // Actualiza los botones para mostrar el slide activo
    function updateButtons() {
      buttons.forEach((btn, index) => {
        btn.classList.toggle('bg-blue-900', index === currentSlide);
        btn.classList.toggle('bg-gray-300', index !== currentSlide);
      });
    }
  
    // Avanza automáticamente cada 3 segundos
/*     setInterval(() => {
      currentSlide = (currentSlide + 1) % totalSlides;
      carousel.style.transition = 'transform 1s ease-in-out';
      carousel.style.transform = `translateX(-${currentSlide * 100 / totalSlides}%)`;
      updateButtons();
    }, 3000); */
  
    // Añadir event listeners a los botones
    buttons.forEach((btn, index) => {
      btn.addEventListener('click', () => goToSlide(index));
    });
  
    // Asegurarse de que los botones estén actualizados al cargar
    updateButtons();
  </script>
  