---

---

<div class="flex flex-col gap-12 lg:gap-32">
    <div class="flex flex-col lg:flex-row gap-8">
        <!-- COMPANY OVERVIEW -->
         <div class="w-full lg:w-1/2 px-8 lg:pl-10">
            <p class="text-lg text-gray-400 ">Un Poco Sobre Nosotros</p>
            <h2 class="text-[28px] lg:text-4xl font-bold mb-6">COMPANY <b class="text-blue-900">OVERVIEW</b></h2>
            <p class="text-lg mb-3">Desde nuestra creación, hemos estado impulsados por una única misión: transformar la forma en que las cooperativas gestionan sus operaciones financieras y administrativas. Cada paso que hemos dado ha estado enfocado en proporcionar una plataforma que no solo resuelva ineficiencias, sino que también impulse la transparencia y el crecimiento.</p>
            <p class="text-lg">Nuestro enfoque combina tecnología avanzada con un profundo entendimiento de las necesidades de nuestros usuarios. A través de una interfaz intuitiva y funcionalidades automatizadas, aseguramos que cada proceso, desde la gestión de miembros hasta las transacciones, se realice de manera eficiente y segura.</p>
            <ul class="mt-12 px-4 lg:px-0 text-base lg:text-xl flex flex-col gap-4">
                <li class="flex gap-4 items-center transform transition duration-300 hover:scale-105">
                    <i> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" stroke="#3c9e42" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 12l5.25 5l2.625-3M8 12l5.25 5L22 7m-6 0l-3.5 4"/>
                        </svg>
                    </i>
                    <span>Gestión integral de miembros, aportaciones y transacciones.</span>
                </li>
                <li class="flex gap-4 items-center transform transition duration-300 hover:scale-105">
                    <i> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" stroke="#3c9e42" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 12l5.25 5l2.625-3M8 12l5.25 5L22 7m-6 0l-3.5 4"/>
                        </svg>
                    </i>
                    <span>Automatización de procesos financieros y administrativos.</span>
                </li>
                <li class="flex gap-4 items-center transform transition duration-300 hover:scale-105">
                    <i> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" stroke="#3c9e42" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 12l5.25 5l2.625-3M8 12l5.25 5L22 7m-6 0l-3.5 4"/>
                        </svg>
                    </i>
                    <span>Seguridad y transparencia en cada operación.</span>
                </li>
                
            </ul>
         </div>
         <!-- Slides Carrousel Images -->
        <div class="w-full lg:w-1/2 relative overflow-hidden">
            <div class="carousel flex transition-transform duration-1000 ease-in-out">
                <img src="/Team/TeamWork.webp" class="w-full lg:h-[50vh] object-cover" alt="Team Work">
                <img src="/Team/Team.webp" class="w-full lg:h-[50vh] object-cover" alt="Team">
                <img src="/Team/MatuExp.webp" class="w-full lg:h-[50vh] object-cover" alt="Matu Exp">
            </div>
    
            <!-- Controladores del carrusel -->
            <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 flex space-x-2">
                <button class="carousel-btn w-3 h-3 bg-gray-300 rounded-full" data-slide="0"></button>
                <button class="carousel-btn w-3 h-3 bg-gray-300 rounded-full" data-slide="1"></button>
                <button class="carousel-btn w-3 h-3 bg-gray-300 rounded-full" data-slide="2"></button>
            </div>
        </div>
    </div>
    
    
    
    <div class="flex flex-col-reverse lg:gap-8 lg:flex-row px-5">
        <!-- Imagen Company -->
        <div class="w-full lg:w-1/2 relative overflow-hidden">
            <img src="/Team/ReviewApp.webp" class="w-full object-cover" alt="Team Work">
        </div>

        <!-- Timeline container -->
        <div class="w-full lg:w-2/3 relative pb-12 grid before:absolute before:left-4 lg:before:left-32 before:block before:h-[calc(100%-2rem)] before:border-l-2 before:border-gray-400 before:content-['']">
            <div class="pl-4 lg:pl-32 pb-10">
                <div class="relative pb-12 lg:pb-0">
                    <div class="sticky top-0">
                        <span class="text-blue-500 absolute -left-3 rounded-full text-6xl">&bull;</span>
                        <time class="text-sm text-white absolute left-10 lg:-left-24 top-2 bg-blue-500 py-[4px] px-3 lg:py-2 lg:px-4">2022</time>
                    </div>
                </div>

                <div class="relative flex flex-col gap-2 text-secondary px-10">
                    <h3 class="text-xl font-bold">El Comienzo de una Idea</h3>
                    <p>
                        En 2022, identificamos las ineficiencias que muchas cooperativas enfrentaban en la gestión de sus operaciones. Con esta visión en mente, comenzamos a desarrollar una solución que abordara estos desafíos, estableciendo las bases de lo que hoy es un software integral.
                    </p>
                </div>
            </div>

            <div class="pl-4 lg:pl-32 pb-10">
                <div class="relative pb-12 lg:pb-0">
                    <div class="sticky top-0">
                        <span class="text-blue-500 absolute -left-3 rounded-full text-6xl">&bull;</span>
                        <time class="text-sm text-white absolute left-10 lg:-left-24 top-2 bg-blue-500 py-[4px] px-3 lg:py-2 lg:px-4">2023</time>
                    </div>
                </div>

                <div class="relative flex flex-col gap-2 text-secondary px-10">
                    <h3 class="text-xl font-bold">Un Año de Crecimiento</h3>
                    <p>
                        Durante 2023, trabajamos incansablemente en la evolución del proyecto, perfeccionando cada aspecto para ofrecer una herramienta robusta y confiable. Nuestra dedicación fue recompensada al participar en ExpoTécnica, donde ganamos las etapas Institucional y Regional, asegurando un lugar en la competencia Nacional para el siguiente año.
                    </p>
                </div>
            </div>

            <div class="pl-4 lg:pl-32 pb-10">
                <div class="relative pb-12 lg:pb-0">
                    <div class="sticky top-0">
                        <span class="text-blue-500 absolute -left-3 rounded-full text-6xl">&bull;</span>
                        <time class="text-sm text-white absolute left-10 lg:-left-24 top-2 bg-blue-500 py-[4px] px-3 lg:py-2 lg:px-4">2024</time>
                    </div>
                </div>

                <div class="relative flex flex-col gap-2 text-secondary px-10">
                    <h3 class="text-xl font-bold">El Año de las Alianzas</h3>
                    <p>
                        En 2024, llevamos nuestro software al siguiente nivel. A través de alianzas estratégicas, expandimos nuestras capacidades y fortalecimos nuestro compromiso con la innovación. Este año marca un nuevo capítulo, donde nuestra solución no solo es más potente, sino también más accesible para cooperativas que buscan optimizar sus operaciones.
                    </p>
                </div>
            </div>
        </div>


    </div>
    

</div>

<style>
    .carousel {
  width: 300%;
}
.carousel img {
  width: 33.3333%;
}

.last-event::before {
        height: 0 !important;
    }

</style>


<script>
    let currentSlide = 0;
    const totalSlides = 3;
    const carousel = document.querySelector('.carousel') as HTMLElement;
    const buttons = document.querySelectorAll('.carousel-btn');
  
    // Función para mover a un slide específico
    function goToSlide(slide) {
      currentSlide = slide;
      carousel.style.transition = 'transform 1s ease-in-out';
      carousel.style.transform = `translateX(-${currentSlide * 100 / totalSlides}%)`;
      updateButtons();
    }
  
    // Actualiza los botones para mostrar el slide activo
    function updateButtons() {
      buttons.forEach((btn, index) => {
        btn.classList.toggle('bg-blue-900', index === currentSlide);
        btn.classList.toggle('bg-gray-300', index !== currentSlide);
      });
    }
  
    // Avanza automáticamente cada 3 segundos
/*     setInterval(() => {
      currentSlide = (currentSlide + 1) % totalSlides;
      carousel.style.transition = 'transform 1s ease-in-out';
      carousel.style.transform = `translateX(-${currentSlide * 100 / totalSlides}%)`;
      updateButtons();
    }, 3000); */
  
    // Añadir event listeners a los botones
    buttons.forEach((btn, index) => {
      btn.addEventListener('click', () => goToSlide(index));
    });
  
    // Asegurarse de que los botones estén actualizados al cargar
    updateButtons();
  </script>
  