---

---
<div class="xl:w-11/12">
    <span class="flex gap-3 pb-8">
        <a href="/">
            <svg class="text-gray-400" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M22 9L12 1L2 9v2h2v10h5v-4a3 3 0 1 1 6 0v4h5V11h2z"/></svg>
        </a>
        <p class="flex gap-2 items-center">
            <svg class="text-gray-400" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 15 15"><path fill="none" stroke="currentColor" d="m13.5 7.5l-4-4m4 4l-4 4m4-4H1"/></svg>
            Política de Privacidad
        </p>
    </span>
    <h1 class="text-3xl font-bold text-blueF">Política de Privacidad</h1>
    <p class=" text-gray-600 my-5">Última actualización: 24 de Setiembre de 2024</p>
    <p class="text-lg mr-12">Gracias por visitar smartcoopcr.com. Valoramos su privacidad y estamos comprometidos con la protección de su información personal. Esta Política de Privacidad explica cómo recopilamos, usamos, divulgamos y protegemos sus datos cuando interactúa con nuestro sitio web.</p>

    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold text-blueF mt-8">1. Información que Recopilamos</h2>
        <p class="text-lg">Podemos recopilar datos personales para ofrecerle nuestros servicios y mejorar su experiencia, tales como:</p>
        <ul class="list-disc list-inside text-lg">
            <li>Información Personal: Nombre, dirección de correo electrónico, número de teléfono y cualquier dato que nos proporcione al contactarnos o al registrarse.</li>
            <li>Datos de Uso: Información sobre cómo utiliza nuestro sitio web, incluidas las páginas que visita, tiempo de permanencia y enlaces en los que hace clic.</li>

        </ul>
    </div>

    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold text-blueF mt-8">2. Cómo Usamos su Información</h2>
        <p class="text-lg">Utilizamos su información para los siguientes fines:</p>
        <ul class="list-disc list-inside text-lg">
            <li>Proporcionarle nuestros servicios y responder a sus consultas.</li>
            <li>Mejorar nuestro sitio web y personalizar su experiencia.</li>
            <li>Comunicarnos con usted para soporte al cliente, actualizaciones o marketing.</li>
            <li>Comprender cómo interactúa con nuestro contenido para crear ofertas relevantes.</li>
            <li>Garantizar la seguridad del sitio web y detectar accesos no autorizados.</li>
        </ul>
    </div>

    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold text-blueF mt-8">3. Divulgación de Datos</h2>
        <p class="text-lg">No compartimos su información personal con terceros bajo ninguna circunstancia, a menos que sea requerido por ley o por una orden judicial. SmartCoop garantiza que sus datos son tratados de forma confidencial y solo serán utilizados internamente para los fines descritos en esta política.</p>
    </div>

    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold text-blueF mt-8">4. Notificación de Incidentes de Seguridad</h2>
        <p class="text-lg">En el improbable caso de que se produzca una violación de la seguridad de los datos que afecte a la información personal de los usuarios, nos comprometemos a notificar a los usuarios afectados tan pronto como sea posible. También informaremos a las autoridades competentes, de acuerdo con las leyes aplicables.</p>
    </div>

    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold text-blueF mt-8">5. Retención de Datos</h2>
        <p class="text-lg">Los datos personales se conservarán únicamente durante el tiempo necesario para cumplir con los fines para los que fueron recopilados, a menos que la ley exija o permita un período de retención más largo. Si un usuario desea que sus datos sean eliminados de nuestros sistemas, puede solicitarlo en cualquier momento.</p>
    </div>

    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold text-blueF mt-8">6. Seguridad de Datos</h2>
        <p class="text-lg">Implementamos medidas de seguridad para proteger su información personal de accesos no autorizados o divulgación:</p>
        <ul class="list-disc list-inside text-lg">
            <li>Encriptación de Datos: Utilizamos protocolos seguros para proteger la transmisión de información.</li>
            <li>Protección de Servidores: Nuestros servidores están protegidos contra accesos no autorizados.</li>
            <li>Acceso Restringido: Limitamos el acceso a su información solo a empleados autorizados.</li>
        </ul>
    </div>

    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold text-blueF mt-8">7. Cambios a esta Política</h2>
        <p class="text-lg">SmartCoop se reserva el derecho de modificar esta política de seguridad en cualquier momento para reflejar cambios en la legislación aplicable o en nuestras prácticas de seguridad. Cualquier modificación será publicada en nuestro sitio web, y los usuarios serán informados si los cambios afectan el tratamiento de sus datos personales.</p>
    </div>

    <div class="flex flex-col gap-4 mb-10">
        <h2 class="text-2xl font-bold text-blueF mt-8">8. Contacto</h2>
        <p class="text-lg">Si tiene preguntas sobre nuestra Política de Privacidad, contáctenos a través de: <a href="mailto:contacto@smartcoopcr.com" class="hover:text-blue-700">contacto@smartcoopcr.com</a> </p>
        
    </div>



</div>