---

---

<div class="flex flex-col lg:flex-row">
    <div class="relative w-full lg:w-1/2">
        <!-- Imagen de fondo -->
        <img class="h-[35vh] md:h-full w-full object-cover" src="/Slides/slider31.webp" alt="">
        <!-- Enlace con el icono SVG -->
        <a href="#" id="open-modal" class="absolute inset-0 flex items-center justify-center">
            <svg class="text-white hover:scale-125 hover:text-blue-800" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 16 16">
                <g fill="currentColor">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/>
                </g>
            </svg>
        </a>
    </div>
    
    <div class="w-full lg:w-2/5 my-16 mr-24">
        <div class="flex flex-col lg:flex-row mb-16 items-center hover:text-blue-900"> 
            <div class="bg-white w-fit h-fit p-4 rounded-md lg:-translate-x-12">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 20 20"><path fill="currentColor" d="M17.603 7.519a7.999 7.999 0 1 1-5.117-5.126L11.439 3.44q-.086.086-.158.185a6.5 6.5 0 1 0 5.088 5.098a1.5 1.5 0 0 0 .192-.162zM14.898 9q.1.486.1 1A5 5 0 1 1 11 5.1v1.546A3.5 3.5 0 1 0 13.353 9zm-4.9 2.5a1.5 1.5 0 0 0 1.45-1.887L13.03 8.03l.03-.03h2.44a.5.5 0 0 0 .354-.146l2-2A.5.5 0 0 0 17.5 5H15V2.5a.5.5 0 0 0-.853-.354l-2 2A.5.5 0 0 0 12 4.5v2.44l-.03.03l-1.582 1.581a1.5 1.5 0 0 0-1.89 1.45a1.5 1.5 0 0 0 1.5 1.5"/></svg>
            </div>
            <div class="text-center lg:text-start">
                <h2 class="text-xl lg:text-3xl border-b-2 font-bold lg:w-fit py-2 mb-3">Nuestra Misión</h2>
                <p  class="text-lg px-4 lg:px-0 text-black">Impulsar la eficiencia y el crecimiento de las cooperativas mediante soluciones digitales innovadoras, simplificando su gestión y fomentando la participación activa de sus miembros.</p>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row mb-16 items-center hover:text-blue-900"> 
            <div class="bg-white w-fit h-fit p-4 rounded-md lg:-translate-x-12">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M17.252 12.49c-.284 2.365-1.833 3.31-2.502 3.996c-.67.688-.55.825-.505 1.834a.916.916 0 0 1-.916.971h-2.658a.92.92 0 0 1-.917-.971c0-.99.092-1.22-.504-1.834c-.76-.76-2.548-1.833-2.548-4.784a5.307 5.307 0 1 1 10.55.788"/><path d="M10.46 19.236v1.512c0 .413.23.752.513.752h2.053c.285 0 .514-.34.514-.752v-1.512m-2.32-10.54a2.227 2.227 0 0 0-2.226 2.227m10.338.981h1.834m-3.68-6.012l1.301-1.301M18.486 17l1.301 1.3M12 2.377V3.86m-6.76.73l1.292 1.302M4.24 18.3L5.532 17m-.864-5.096H2.835"/></g></svg>
            </div>
            <div class="text-center lg:text-start">
                <h2 class="text-xl lg:text-3xl border-b-2 font-bold lg:w-fit py-2 mb-3">Nuestra Visión</h2>
                <p class="text-lg px-4 lg:px-0 text-black">Ser reconocidos como líderes en la implementación de soluciones tecnológicas para pequeñas y grandes cooperativas de todo el país transformando de manera positiva la gestión y administración de estas.</p>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row items-center hover:text-blue-900"> 
            <div class="bg-white w-fit h-fit p-4 rounded-md lg:-translate-x-12">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="m15.5 4l3 4l-8 10l-8-10l3.009-4zm-13 4h16m-11 0l3 10m3-10l-3 10"/><path d="M5.509 4L7.5 8l3-4l3 4l2-4"/></g></svg>
            </div>
            <div class="text-center lg:text-start">
                <h2 class="text-xl lg:text-3xl border-b-2 font-bold lg:w-fit py-2 mb-3">Nuestros Valores</h2>
                <p class="text-lg px-4 lg:px-0 text-black">
                    Responsabilidad Social
                    <span class="text-2xl text-gray-500 font-thin">/</span>
                    Transparencia
                    <span class="text-2xl text-gray-500 font-thin">/</span>
                    Solidaridad
                    <span class="text-2xl text-gray-500 font-thin">/</span>
                    Educación y Formación
                </p>
            </div>
        </div>
       
    </div>
</div>


<!-- Modal -->
<div id="video-modal" class="fixed inset-0 flex invisible items-center justify-center bg-black bg-opacity-80">
    <div class="relative p-4 rounded-lg max-w-5xl w-full">
        <!-- Botón para cerrar el modal -->
        <button id="close-modal" class="absolute top-0 right-2 z-10 text-4xl text-white">&times;</button>
        
        <!-- Video de YouTube -->
        <!-- <div class="aspect-w-16 aspect-h-9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/i8q8fFs3kTM"
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div> -->
        <video width="100%" height="100%" controls>
            <source src="SmartCoopV.mp4" type="video/mp4">
            Tu navegador no soporta la reproducción de videos.
        </video>
    </div>
</div>

