---
interface Props {
	title: string;
}
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/IconApp.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	
	<body>
		<main>
			<Header />
			<slot />
            <footer id="Footer" class="h-fit w-full px-8 py-5  md:px-16 lg:pl-32 xl:pl-64 bg-blueF text-white">
                <Footer />
            </footer>

		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		    /* Estilos para el modal */
			#video-modal {
        z-index: 1000; /* Asegura que esté sobre otros elementos */
    }
  
    /* Mantiene el aspecto del video */
    .aspect-w-16 {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
    }
    
    .aspect-w-16 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Para controlar la visibilidad sin cambiar display */
    .invisible {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .visible {
        opacity: 1;
        visibility: visible;
    }
	}
	html {
		font-family: system-ui, sans-serif;
	}
	
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const openModal = document.getElementById('open-modal');
        const videoModal = document.getElementById('video-modal');
        const closeModal = document.getElementById('close-modal');

        if (openModal && videoModal && closeModal) {
            // Abrir el modal al hacer clic en el enlace
            openModal.addEventListener('click', function(event) {
                event.preventDefault(); // Evita la navegación por defecto
                videoModal.classList.remove('invisible'); // Muestra el modal
                videoModal.classList.add('visible');
            });

            // Cerrar el modal al hacer clic en el botón de cierre
            closeModal.addEventListener('click', function() {
                videoModal.classList.remove('visible'); // Oculta el modal
                videoModal.classList.add('invisible');
            });

            // Cerrar el modal si se hace clic fuera del contenido del modal
            window.addEventListener('click', function(event) {
                if (event.target === videoModal) {
                    videoModal.classList.remove('visible'); // Oculta el modal
                    videoModal.classList.add('invisible');
                }
            });
        }
    });
</script>

